@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400&family=Poppins:wght@400;700&display=swap");

body {
  background-color: #1b1b1b;
  font-family: "Poppins", sans-serif;
}

.menu-icons {
  color: #ec6619;
  margin-right: 3px;
  width: 20px;
}

.accent {
  color: #ec6619;
}

.btn-accent {
  background-color: #ec6619;
  border-color: #ec6619;
  color: #ffffff;

  &:hover {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #ec6619;
  }
}

.navbar-brand {
  color: #ec6619;
  font-weight: 400;
  font-family: "Archivo Narrow", serif;
  font-size: 22px;
}

.navbar-toggler {
  border: none;
}
